/Classes
/Fibonacci Modul
/Function
/GenerateTable
/List Questions
/List_Comprehensive.py
/Practical_question
/Recursion
/ScikitLearn
/StringManupulation.py
/Student Management System
/Tuple Questions
/Vertual_invirment
/Calculate_avarage.py
/Classes.py
/company.db
/CopyText.txt
/CountVowel.py
/DatabaseConnection.py
/FactorialUsingReduce.py
/file.txt
/firstQues.py
/GreatestNumber.py
/hiscore.txt
/output.csv
/Inheritance.py
/output.json
/learinig.py
/package.json
/PatturnPrint_1.py
/PatturnPrint_2.py
/PelindromeNumber.py
/PrimeNumber.py
/ReadFile.py
/package-lock.json
/Recursion_facto.py
/Property_and_increament.py
/RemoveDublicacy.py
/replaceManyWord.py
/Sckit.csv
/Snake_water_game.py
/StuedentMarks.py
/Text.txt
/replaceContent.py
/Hiscore.py
/ReadLine.py